.App {
  min-height: 600px;
}

.gameGrid {
  border: 2px solid #666;
  border-top: 0;
  width: 200px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.gameGrid .row {
  display: flex;
}

.gameGrid .col {
  width: 20px;
  height: 20px;
  font-size: 6px;
  text-align: center;
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid #3333330a;
}

.gameGrid .col.R {
  background-color: #ED553B;
  border: 1px solid #3333333d;
}

.gameGrid .col.Y {
  background-color: #F6D55C;
  border: 1px solid #3333333d;
}

.gameGrid .col.B {
  background-color: #173F5F;
  border: 1px solid #3333333d;
}

.gameGrid .col.G {
  background-color: #3CAEA3;
  border: 1px solid #3333333d;
}

.controls {
  margin: auto;
  width: 200px;
  margin-top: 0px;
  flex-direction: column;
  display: flex;
  line-height: 60px;
  font-size: 60px;
}
.controls .leftRightArrows {
  justify-content: space-evenly;
  display: flex;
}
.controls .downArrow {
  margin: auto;
}

.options {
  border: 1px solid black;
  width: 300px;
  margin: 20px auto;
}

.piecesRemaining {
  margin: auto;
  width: 100px;
  text-align: center;
}

.outcome {
  border: 2px solid #552a00;
  background-color: #a16e00;
  border-radius: 5px;
  padding: 10px;
  color: white;
  margin: auto;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
